<!-- 글 전체 보기 -->
<head>
        <style>
            .container1{
                width:40%;
                float:left;
            }
            .container2{
                clear:both;
            }
        </style>
    </head>
<body>
    <div class="container">
        <h1>축제 글</h1>
        {%for board in posts%}
        <div class="container1">
            <a href="{% url 'detail' board.id %}">
                <img style="width:200px; height:200px;" src="{{ board.file.url }}" alt="">
            </a>
            <h5>{{board.title}}</h5>
            <small class="text-muted">{{board.pub_date}}</small>
        </div>
        {%endfor%}
    
        {#First Previous 3of4 Next Last#}
        <div class="container2">
        {#First Previous#}
        {%if posts.has_previous%}
        <a href="?page=1">First</a>
        <a href="?page={{posts.previous_page_number}}">Previous</a>
        {%endif%}
        {# 3of4 #}
        <span>{{posts.number}}</span>
        <span>of</span>
        <span>{{posts.paginator.num_pages}}</span>
        {#Next Last#}
        {%if posts.has_next%}
        <a href="?page={{posts.next_page_number}}">Next</a>
        <a href="?page={{posts.paginator.num_pages}}">Last</a>
        {%endif%}
        </div>
    </div>
    </body>
    
    